<div ng-controller="CouponListCtrl">
		<div class="coupon-list-button">
			<div layout="row" layout-wrap>
					<md-button class="md-raised action-button" flex="50" flex-order="1">Button</md-button>
					<md-button class="md-raised action-button" flex="50" flex-order="2">Button</md-button>
					<md-button class="md-raised action-button" flex="50" flex-order="3">Button</md-button>
					<md-button class="md-raised action-button" flex="50" flex-order="4">Button</md-button>
			</div>
			
			<div class="coupon-search-container" flex="100">
				<!--<i class="fa fa-search"></i>-->
					<input placeholder="Buscar" type="text"/>
			</div>
		</div>
		<div class="coupon-list">
				<md-list>
						<md-list-item class="md-3-line" ng-repeat="item in coupons" flex>
								<div class="md-list-item-text">
										<h3>{{ item.name }}</h3>
										<h4>{{ item.description }}</h4>
										<p>Aplicable hasta el {{ item.end_date | date:'dd' }} de {{ item.end_date | date:'MM' | monthName }}</p>
								</div>
								<md-divider ng-if="!$last"></md-divider>
						</md-list-item>
				</md-list>
		</div>
</div>
