<div layout-fill layout="row" layout-wrap style="margin: 0 auto;">
        <div class="loading" flex ng-show="loading" layout-align="center center">
          	<md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
        </div>
     	<div ng-repeat="item in coupons" layout="row" layout-fill layout-wrap layout-align="center center">
		      	<md-card class="background-white coupon-card animated fadeInLeft" ng-repeat="promo in item" flex-xs="100" flex-sm="100" flex="30" ng-click="showConfigModal(promo)">
					<div class="info">
						<h2 class="margin-sm">{{promo.name}}</h2>
						<h1 ng-if="!promo.name" class="new-promo-placeholder">Nueva Promoción</h1>
						</span><p ng-if="promo.description" class="coupon-description" data-ng-bind="promo.description"></p>
					</div>
					<div class="statistics">
						<ul layout="row">
							<li flex>
								<i class="fa fa-bullseye" ></i>
								<h3>{{promo.views}}0</h3>
								<p class="transparent-text">Aperturas</p>
							</li>
							<li flex>
								<i class="fa fa-heart"></i>
								<h3>{{promo.total_likes}}0</h3>
								<p class="transparent-text">Me gusta</p>
							</li>
							<li flex>
								<i class="fa fa-ticket "></i>
								<h3>{{promo.total_uses}}0</h3>
								<p class="transparent-text">Usos</p>
							</li>
						</ul>
					</div>
		        </md-card>
      	</div>
</div>

<!-- 		<div class="coupon-list-button">

			<div class="coupon-search-container" flex="100">
					<i class="fa fa-search"></i>
					<input placeholder="Buscar" type="text" ng-model="searchPromo"/>
			</div>
		</div>
		<div class="coupon-list">
				<md-list ng-repeat="item in coupons">
						<md-list-item class="md-3-line pointer promo" ng-repeat="promo in item | filter:searchPromo" flex ng-click="configCoupon(promo)">
							<div layout="row" layout-align="center center" class="promo">
								<div ng-switch on="{{promo.coupon_category_id}}" class="left center md-avatar" flex="25">
									<div ng-switch-when="1" class="coupon-category-1"><ng-md-icon icon="settings" size="30" style="fill: #FFF"></ng-md-icon></div>
									<div ng-switch-when="2" class="coupon-category-2">$</div>
									<div ng-switch-when="3" class="coupon-category-3">%</div>
									<div ng-switch-when="4" class="coupon-category-4">X</div>
									<ng-md-icon icon="percent" style="fill: black" size="30"></ng-md-icon>
								</div>
								<div class="right" flex>
									<ng-md-icon icon="clear" size="18" style="fill: #F44336" class="pull-right margin-top-md clear" ng-click="delete(promo)"></ng-md-icon>
									<div class="md-list-item-text">
											<h3 class="coupon-title margin-bottom-sm">{{ promo.name }}</h3>
											<h3 ng-if="!promo.description" class="coupon-description new-promo-placeholder">Nueva Promoción</h3>
											<p ng-if="promo.description" data-ng-bind="promo.description" class="coupon-description" data-ellipsis></p>
											<p class="pull-right" ng-if="promo.end_date" ng-init="dateFormat(promo.end_date)">
												Aplicable hasta el {{ formattedDate | date:'dd' }} de {{ formattedDate | date:'MMMM' }}
											</p>
									</div>
								</div>
							</div>
							<md-divider layout="row"></md-divider>
						</md-list-item>
				</md-list>
		</div> -->
