/* Basic reset */


/* Finally adding some IE9 fallbacks for gradients to finish things up */

/* A nice BG gradient */


/* Using box shadows to create 3D effects */
#calculator {
	width: 85%;
	height: auto;
	transitions: all 0.4s;
	margin: 10px auto;
	border: 1px solid lightgrey;
	background: white;
	border-radius: 3px;
	box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
}

/* Top portion */
#calculator .top span.clear {
	float: left;
}

/* Inset shadow on the screen to create indent */
#calculator .top .screen {
	height: 40px;
	width: 172px;
	float: right;
	background: white;

	/* Typography */
	font-size: 30px;
	line-height: 40px;
	color: rgb(80, 80, 80);
	text-align: right;
	letter-spacing: 1px;
}

/* Clear floats */
#calculator .keys, .top {overflow: hidden;}

/* Applying same to the keys */
#calculator .keys span, .top span.clear {
	float: left;
	position: relative;
	top: 0;
	cursor: pointer;
	width: 52px;
	height: 36px;
	margin: 0 7px 11px 0;
	line-height: 36px;
	text-align: center;
	
	/* prevent selection of text inside keys */
	user-select: none;
	
	/* Smoothing out hover and active states using css3 transitions */
	transition: all 0.4s ease;
}
#calculator .keys .nums { 
	background: #4c4c4c !important;
	height: 190px;
	width: 80%;
}
#calculator .keys span.num-key {
	  background: #4c4c4c !important;
	  color: white;
}
/* Remove right margins from operator keys */
/* style different type of keys (operators/evaluate/clear) differently */
#calculator .keys span.operator,
#calculator .keys .operator {
	background: #1de9b6;
	margin-right: 0;
	color: #424242;
}

#calculator .keys span.eval {
	color: #888e5f;
}

#calculator .top span.clear {
	background: #2196F3;
	color: white;
}

/* Some hover effects */
#calculator .keys span:active {
	background: #9c89f6;

	color: white;
}

#calculator .keys span.eval:active {
	background: #abb850;

	color: #ffffff;
}

#calculator .top span.clear:active {
	background: #f68991;

	color: white;
}

/* Simulating "pressed" effect on active state of the keys by removing the box-shadow and moving the keys down a bit */
#calculator .keys span.num-key:active {

	background: lightgrey !important;
}

#calculator .keys span.eval:active {

	top: 4px;
}

#calculator .top span.clear:active {
	top: 4px;

}