.listdemoBasicUsage .face {
	border-radius: 30px;
	border: 1px solid #ddd;
	width: 48px;
	margin: 16px; 
}
.coupon-container{ background: none !important; }
.coupon-list-card{
	padding: 0;
	height: 42em;
	background: white;
	overflow: hidden;
}
.coupon-list{
	overflow: scroll;
	padding: 1em;
	height: 36em;
}
.coupon-list-button .action-button{
	/*box-shadow: none !important;*/
	border-radius: 0;
}
.coupon-list-button input{
	width: 100%;
	height: 2.2em;
	border:none;
	margin: 0;
	padding: 0;
	padding-left: 1em;
	background: transparent;
	/*background:white url(https://cdn3.iconfinder.com/data/icons/eightyshades/512/11_Search-128.png) no-repeat left center;
	padding:6px 15px 6px 30px;
	margin:3px; */
}
.coupon-search-container{
	/*padding: 1em;*/
	padding-top: 5px;
	background: rgb(240, 240, 240);
	border-bottom: 1px solid rgba(0,0,0,0.12);
}
.coupon-main-card{ 
	background: white;
	height: 100%;
}
#create-coupon-btn{
	float:right;
	margin-top: 2.2em;
}
.coupon-select{
	margin-bottom: 2.2em;
}

/* Animations */
.sample-show-hide {
  padding:10px;
  border:1px solid black;
  background:white;
}
.coupon-form {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}
.coupon-form.ng-hide {
  opacity:0;
}
