.tabsdemoStaticTabs .sample { height: 450px; }
.tabsdemoStaticTabs .sample md-tab-content { padding: 25px; }
.tabsdemoStaticTabs .sample md-tab-content:nth-child(1) { background-color: #42A5F5; }
.tabsdemoStaticTabs .sample md-tab-content:nth-child(2) { background-color: #689F38; }
.tabsdemoStaticTabs .sample md-tab-content:nth-child(3) { background-color: #26C6DA; }
.sample section.md-header { height: 50px !important; }
.sample md-tabs { width: 100% !important; }
.tabsdemoStaticTabs .sample .md-tabs-content{ 
	height: calc(100% - 50px); 
}
.md-tab-content{
	padding: 1em;
}
.total div p{
	margin:0;
	font-size: 5em;
}
.total div:nth-child(1){
	height: 50%;
	display: inline-block;
	width: 50%;
	float: left;
	border-right: 2px solid rgb(225, 225, 225);
	border-bottom: 2px solid rgb(225, 225, 225);
}
.total div:nth-child(2){
	height: 50%;
	display: inline-block;
	width: 50%;
	border-left: 2px solid rgb(225, 225, 225);
	border-bottom: 2px solid rgb(225, 225, 225);
}
.total div:nth-child(3){
	height: 50%;
	display: inline-block;
	width: 50%;
	float: left;
	border-right: 2px solid rgb(225, 225, 225);
	border-top: 2px solid rgb(225, 225, 225);
}
.total div:nth-child(4){
	height: 50%;
	display: inline-block;
	width: 50%;
	border-left: 2px solid rgb(225, 225, 225);
	border-top: 2px solid rgb(225, 225, 225);
}