/* Cupoun Widget CSS*/
.tabsdemoStaticTabs .sample { height: 506px; }
.tabsdemoStaticTabs .sample md-tab-content { padding: 25px; }
.tabsdemoStaticTabs .sample md-tab-content:nth-child(1) { background-color: #42A5F5; }
.tabsdemoStaticTabs .sample md-tab-content:nth-child(2) { background-color: #689F38; }
.tabsdemoStaticTabs .sample md-tab-content:nth-child(3) { background-color: #26C6DA; }
.sample section.md-header { height: 50px !important; }
.sample md-tabs { width: 100% !important; }
.tabsdemoStaticTabs .sample .md-tabs-content{
	height: calc(100% - 50px);
}
.md-tab-content{
	padding: 1em;
}


md-tab-template div p{
	margin:0;
	font-size: 5em;
}
md-tab-template div:nth-child(1){
	height: 50%;
	display: inline-block;
	width: 50%;
	float: left;
	border-right: 2px solid rgb(225, 225, 225);
	border-bottom: 2px solid rgb(225, 225, 225);
}
md-tab-template div:nth-child(2){
	height: 50%;
	display: inline-block;
	width: 50%;
	border-left: 2px solid rgb(225, 225, 225);
	border-bottom: 2px solid rgb(225, 225, 225);
}
md-tab-template div:nth-child(3){
	height: 50%;
	display: inline-block;
	width: 50%;
	float: left;
	border-right: 2px solid rgb(225, 225, 225);
	border-top: 2px solid rgb(225, 225, 225);
}
md-tab-template div:nth-child(4){
	height: 50%;
	display: inline-block;
	width: 50%;
	border-left: 2px solid rgb(225, 225, 225);
	border-top: 2px solid rgb(225, 225, 225);
}

.coupon-description { line-height: 1.3; }
/* end Coupon Widget*/

/* Gender Chart CSS*/
/*.gender-chart {
		padding: 20px 20px 0 20px;
		width: 90% !important;
}

.gender-chart canvas {
		width: inherit;
}*/

.card {
  position: relative;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,.15);
/*  margin-bottom: 30px;*/
}

.card .card-header {
  position: relative;
}

.card .card-header h2 {
	text-align: left;
  margin: 0;
  line-height: 100%;
  font-size: 20px;
  font-weight: 400;
}

.card .card-header .actions {
  position: absolute;
  right: 10px;
  z-index: 2;
  top: 15px;
}

.actions {
  list-style: none;
  padding: 0;
  z-index: 2;
  margin: 0;
}

@media screen and (min-width: 768px) {
	.card .card-header:not(.ch-alt) {
	  padding: 23px 26px;
	}

	.card .coupon.card-header:not(.ch-alt) {
	  padding: 0px;
	}
}

/* End Gender Chart CSS*/

/* Maps Widget*/
.angular-google-map-container { height: 400px; }

.coupon-card { padding: 0em; cursor: pointer; }
.coupon-card .info { padding: 1em; text-align: center; }
.coupon-card p,
.coupon-card h2 { margin-bottom: 0; }
.coupon-card h2 { margin-top:0; }
/*canvas#ageChart {
		width: 100% !important;
		height: auto !important;
}
canvas#genderChart {
		width: 100% !important;
		height: auto !important;
}*/
.coupon-card .statistics{ color: #FFF; background: #fb226f; padding: 0.5em; width: 100%; margin-top: 1em; /*position: absolute; bottom: 0;*/ }
.coupon-card .statistics ul { list-style: none; padding: 0; margin: 0; text-align: center; }
.coupon-card .statistics ul li{ display: inline-block; vertical-align: top; font-weight: 600; }
.coupon-card .statistics ul li i{ display: block; font-size: 0.8em; font-weight: 200; margin-bottom: 0.3em; }
.coupon-card .statistics ul li h3{ font-weight: 600 !important; margin: 0; font-size: 1.5em; }
.coupon-card .statistics ul li p{ font-weight: 600 !important; margin: 0; font-size: 0.8em; }

.new-promo-placeholder {
    margin: 20px auto;
    font-weight: 300;
    text-align: center;
}
.export-table{
	background-color: black !important;
	color: red !important;
}
