@import url(http://fonts.googleapis.com/css?family=Roboto:500,300,400);
@import url('dashboard.css');
@import url('report.css');
@import url('weather.css');
@import url('payment.css');
body {
    background-color: #eee !important;
    min-height: 100%;
    height: auto;
    font-size: 1.6rem;
    font-family: Roboto, sans-serif !important;
    font-weight: 300;
}

body h1, h2, h3, h4, h5, h6 { font-weight: 300 !important; }
.pointer { cursor: pointer; }
.background-white { background-color: white !important; }
.no-background { background-color: transparent !important; }
.no-margin-bottom { margin-bottom: 0; }
.no-padding-bottom { padding-bottom: 0 !important; }
.no-padding-top { padding-top: 0 !important; }
.no-margin { margin: 0 !important; }

/* General paddings */
.padding-sm { padding: 5px !important; }
.padding-md { padding: 10px !important; }
.padding-lg { padding: 15px !important; }
.padding-xl { padding: 20px !important; }
/* Padding for bottom */
.padding-bottom-sm { padding-bottom: 5px !important; }
.padding-bottom-md { padding-bottom: 10px !important; }
.padding-bottom-lg { padding-bottom: 15px !important; }
.padding-bottom-xl { padding-bottom: 20px !important; }

/* Padding for top */
.padding-top-sm { padding-top: 5px !important; }
.padding-top-md { padding-top: 10px !important; }
.padding-top-lg { padding-top: 15px !important; }
.padding-top-xl { padding-top: 20px !important; }

/*padding-auto */
.padding-auto-sm { padding: 0 5px 0 5px !important; }
.padding-auto-md { padding: 0 10px 0 10px !important; }
.padding-auto-lg { padding: 0 15px 0 15px !important; }
.padding-auto-xl { padding: 0 20px 0 20px !important; }

/* General margins */
.margin-sm { margin: 5px !important; }
.margin-md { margin: 10px !important; }
.margin-lg { margin: 15px !important; }
.margin-xl { margin: 20px !important; }
/* Margin for top */
.margin-top-sm { margin-top: 5px !important; }
.margin-top-md { margin-top: 10px !important; }
.margin-top-lg { margin-top: 15px !important; }
.margin-top-xl { margin-top: 20px !important; }
/* Margin for bottom */
.margin-bottom-sm { margin-bottom: 5px !important; }
.margin-bottom-md { margin-bottom: 10px !important; }
.margin-bottom-lg { margin-bottom: 15px !important; }
.margin-bottom-xl { margin-bottom: 20px !important; }
.margin-bottom-xxl { margin-bottom: 30px !important; }

.text-center { text-align: center; }

/* fonts */
.font-15 { font-size: 15px !important; }
.font-xl { font-size: 2.0em; }
.center {
    text-align: center !important;
}
.report-height { min-height: 450px !important; }
.menu-icon { font-size: 24px; }
.navbar {
    background-color: #282828 !important;
    font-size: 14px;
}

.navbar .active a {
    background-color: #222222 !important;
}

#main-logo {
    width: 45px;
    margin-right: 10px;
    -webkit-filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.3));
}

.white { color: white !important; }
/*Angular-Material Design*/
md-toolbar .md-toolbar-tools .notification { margin-right: 1em; }
md-toolbar .md-toolbar-tools .notification img { width: 25px; }
md-tabs { width: 75% !important; height: 100% !important; }
md-tabs .md-header { height: 100% !important; }
md-tabs-ink-bar { height: 3px !important; }
/*md-tab a {
    text-decoration: none !important;
    color: white !important;
}*/
md-tabs.md-default-theme md-tab.active{
    color: #fb226f;
}

.md-button.md-fab.notification {
    width: 40px !important;
    height: 40px !important;
}

.loading {
    box-shadow: none !important;
    height: 100px;
}
.transparent-text{
    color: rgba(255,255,255,0.5);
}

#webApp .md-toolbar-tools {
  height: 48px !important;
}

.ripplelink {
  display:block;
  float:left;
  width:49.6%;
  margin:0.2%;
  height:10em;
  text-align:center;
  text-decoration:none;
  position:relative;
  overflow:hidden;
  background: white !important;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index:0;
}



.dark-font {
  font-size: 3em;
  font-weight: 300;
  color: #404040 !important;
}

.image-shadow { -webkit-filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.3)); }

.branch-logo {
  width: 32px ;
  height: 32px ;
  margin: 0px 10px 0px 5px;
  border-radius: 50%;
}

.pull-right {
  float: right;
  text-align: right;
}
