.login-form{
	padding: 3em;
}
.login-container .login-card{
	width: 29em;
}
.login-container .login-top{
	text-align: center;
	/* background: currentColor; 
	border-left: 1px solid #258fec;
	border-right: 1px solid #258fec;
	border-bottom: 1px solid #1e73bd; 
	border-top: 1px solid #499de5;
	background-image: -moz-linear-gradient(center top, #52aeff 45%, #2180d3 102%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#52aeff), to(#2180d3));
	background-image: -webkit-linear-gradient(top, #52aeff, #2180d3);
	background-image: -o-linear-gradient(top, #52aeff, #2180d3);
	background-image: linear-gradient(to bottom, #52aeff, #2180d3);
	background-color: #3290E2;*/
	padding: 1em;
	background: rgb(64,196,255);
}
.login-container .login-top img{
	width: 7em;
	/* padding: 2em; */
	/* text-align: center; */
	float: right;
	display: inline-block;
	margin: 0 auto;
}
.login-container .login-button{
	float: right;
}