<md-card  class="margin-top-xl" layout="row" layout-wrap layout-align="start center" style="width: 800px" data-ng-init="init()" ng-cloak>
  <!-- <div><input type="file"  /></div> -->
  <!-- <div class="">
    <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
  </div> -->

  <form name="aboutForm" class="margin-top-xl" flex="60">
    <div layout layout-sm="column" layout-align="start start">
      <md-input-container class="md-block" flex="45" flex-offset="5">
        <label>Nombre Sucursal</label>
        <input ng-model="about.name">
      </md-input-container>
    </div>

    <div layout layout-sm="column" layout-align="start start">
      <md-input-container class="md-block" flex="30" flex-offset="5">
        <label>Teléfono</label>
        <input name="phone" ng-model="about.phone" />
        <div class="hint" ng-show="showHints">(###) ###-####</div>
        <div ng-messages="aboutForm.phone.$error" ng-hide="showHints">
          <div ng-message="pattern">Ingresa un número de teléfono válido.</div>
        </div>
      </md-input-container>
    </div>

    <div layout layout-sm="column" layout-align="center start">
      <md-input-container class="md-block" flex="90">
        <label>Dime algo sobre tu empresa</label>
        <textarea ng-model="about.description" md-maxlength="220" rows="5" md-select-on-focus></textarea>
        <div ng-messages="aboutForm.description.$error">
          <div ng-message="md-maxlength">Escribe algo sobre tu empresa en menos de 220 caracteres!</div>
        </div>
      </md-input-container>
    </div>
  </form>

  <!-- <div flex="30" layout="row">
    <div class="md-padding" flex>
      <h1 class="md-title">Selecciona tus filtros</h1>
      <div>
        <md-input-container layout="row">
          <label>Filtros</label>
          <md-select ng-model="selectedFilters"
                     md-on-close="clearSearchTerm()"
                     data-md-container-class="selectdemoSelectHeader"
                     multiple>
            <md-select-header class="demo-select-header">
              <input ng-model="searchTerm"
                     type="search"
                     placeholder="Busca un filtro"
                     class="demo-header-searchbox md-text">
            </md-select-header>
            <md-optgroup label="filtros">
              <md-option ng-value="filter" ng-repeat="filter in filters |
                filter:searchTerm">{{filter}}</md-option>
            </md-optgroup>
          </md-select>
        </md-input-container>
      </div>
    </div>
  </div> -->

</md-card>
