<md-dialog aria-label="Reporte" flex>
    <md-toolbar class="md-accent">
      <div class="md-toolbar-tools">
        <h2>{{coupon.name}}</h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content" layout="row" layout-align="center center">
        <md-progress-circular ng-show="loading" class="md-accent" md-mode="indeterminate"></md-progress-circular>

        <md-table-container ng-hide="loading" id="preview_table_container" flex>
          <table id="preview_table" md-table multiple  md-progress="promise">
            <thead md-head md-order="day" md-on-reorder="getCoupons">
              <tr md-row>
                <th md-column md-order-by="day"><span>Fecha</span></th>
                <th md-column md-order-by="count">Usos</th>
              </tr>
            </thead>
            <tbody md-body>
              <tr  md-row ng-repeat="item in coupons.data | orderBy: day">
                <td md-cell>{{item.day | date:'dd MMM yyyy'}}</td>
                <td md-cell>{{item.count}} usos</td>
              </tr>
            </tbody>
          </table>
        </md-table-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" ng-hide="loading" flex>
      <md-button ng-click="cancel()" >
        Cancelar
      </md-button>
      <span flex></span>
      <md-button ng-click="print()">
       Imprimir
      </md-button>
      <md-button ng-click="getPDF()" style="margin-right:20px;">
        Descargar
      </md-button>
    </md-dialog-actions>
</md-dialog>
