<!doctype html>
<html lang="en"><head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="images/favicon.png">

  <title>DOP</title>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700,800" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Raleway:300,200,100" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <!-- Bootstrap core CSS -->
  <!-- build:css(.) dop/dist/styles/vendor.css -->
  <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="bower_components/angular/angular-csp.css">
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
  <link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css">
  <link rel="stylesheet" href="bower_components/sweetalert/lib/sweet-alert.css">
  <link rel="stylesheet" href="bower_components/animate.css/animate.min.css">
  <!-- endbuild -->

  <!-- Template CSS -->
  <!-- build:css(.tmp) dop/dist/styles/main.css -->
  <link rel="stylesheet" href="styles/general.css"> 
  <link rel="stylesheet" href="styles/calculator.css"> 
  <link rel="stylesheet" href="styles/demo.css">
  <link rel="stylesheet" href="styles/login.css">
  <link rel="stylesheet" href="styles/coupon.css">

  <!-- endbuild -->
  <base href="/">
</head>

<body ng-app="dopApp" ng-controller="TabController" class="ng-cloak" style="opacity: 1; margin-left: 0px;">
    <!-- Fixed navbar -->
    <div id="webApp" ng-show="isAuthenticated()">
        <div layout="column"layout-fill>
          <md-toolbar>
            <div class="md-toolbar-tools">
              <a ng-href="/">
                <img id="main-logo" src="images/white_logo.png">
              </a>
              <!-- fill up the space between left and right area -->
              <md-tabs  id="toolbar-options" md-selected="data.selectedIndex">
                <md-tab id="tab1" aria-controls="tab1-content" class="white">
                  <a href="/">
                    Inicio
                  </a>
                </md-tab>
                <md-tab id="tab2" aria-controls="tab2-content" class="white">
                  <a href="/coupon">
                    Promociones
                  </a>
                </md-tab>
                <md-tab id="tab3" aria-controls="tab3-content" class="white">
                  <a href="/report">
                    Reportes
                  </a>
                </md-tab>
              </md-tabs>
              <span flex></span>

              <md-button ng-click="toggleRightNotifications()" class="notification md-fab md-primary md-hue-3" aria-label="Notification">
                  <span class="white">5</span>
              </md-button>
              <md-button ng-click="toggleRightWidgets()" class="" aria-label="Menu">
                <i class="fa fa-bars menu-icon margin-sm"></i>
              </md-button>
            </div>
          </md-toolbar>
          <md-card class="loading" flex ng-show="loading" layout-align="center center">
              <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
          </md-card>
          <ng-switch on="data.selectedIndex" class="tabpanel-container padding-xl" ng-show="!loading">
            <div role="tabpanel"
                 id="tab1-content"
                 aria-labelledby="tab1"
                 ng-switch-when="0"
                 md-swipe-left="next()"
                 md-swipe-right="previous()" >
                <md-content layout="row" layout-align="center center" class="no-background ng-cloak">
                  <div flex ui-view>
                    <!-- tab's content -->
                  </div>
                </md-content>
            </div>
            <div role="tabpanel"
                 id="tab2-content"
                 aria-labelledby="tab2"
                 ng-switch-when="1"
                 md-swipe-left="next()"
                 md-swipe-right="previous()" >
                <md-content layout="row" layout-align="center center" class="no-background ng-cloak">
                  <div flex ui-view>
                    <!-- tab's content -->
                  </div>
                </md-content>
            </div>
            <div role="tabpanel"
                 id="tab3-content"
                 aria-labelledby="tab3"
                 ng-switch-when="2"
                 md-swipe-left="next()"
                 md-swipe-right="previous()" >
                <md-content layout="row" layout-align="center center" class="no-background height-inherit ng-cloak">
                  <div flex ui-view>
                    <!-- tab's content -->
                  </div>
                </md-content>
            </div>
          </ng-switch>
        </div>
        <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="notifications-sidenav" layout="vertical" layout-fill>
          <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">Notificaciones</h1>
          </md-toolbar>
          <md-content ng-controller="NotificationCtrl" class="md-padding">
            <md-button ng-click="closeNotifications()" class="md-primary">
              Cerrar
            </md-button>
          </md-content>
        </md-sidenav>
        <md-sidenav id="utilities-sidenav" class="md-sidenav-right md-whiteframe-z2" md-component-id="widgets-sidenav"layout="vertical" layout-fill>
          <md-toolbar ng-controller="MeCtrl" class="md-theme-light">
            <h1 class="md-toolbar-tools">{{user.branch.name}}</h1>
            <button id="closeWidgetsBtn" class="cmn-toggle-switch cmn-toggle-switch__htx" ng-click="closeWidgets()">
              <span>toggle menu</span>
            </button>
          </md-toolbar>
          <md-content ng-controller="WeatherCtrl" class="md-padding">
            <md-card class="loading" flex ng-show="loading" layout-align="center center">
              <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
            </md-card>
            <div id="weather" class="animated fadeInLeft" ng-show="!loading">
              <md-content>
                <div layout="column" layout-align="center center">
                  <h1 class="location no-margin-bottom" flex="100">{{data.name}}</h1>
                  <p class="date no-margin-bottom" flex="100">{{today | date: 'EEEE, dd MMMM H:mm'}}</p>
                </div>

                <div layout="row" class="weather-wrapper">    
                  <p class="temp" id="temperature" flex>{{data.main.temp - 273.15 | number: 0}}°</p>
                  <div class="weather-icon sun"></div>
                </div>
              </md-content>
            </div>

            <div id="calculator">
              <!-- Screen and clear key -->
              <div class="top">
                <span class="clear">C</span>
                <div class="screen"></div>
              </div>
              
              <div class="keys" layout="row">
                <!-- operators and other keys -->
                <div class="nums">
                    <span class="num-key">7</span>
                    <span class="num-key">8</span>
                    <span class="num-key">9</span>
                    <span class="num-key">4</span>
                    <span class="num-key">5</span>
                    <span class="num-key">6</span>
                    <span class="num-key">1</span>
                    <span class="num-key">2</span>
                    <span class="num-key">3</span>
                    <span class="num-key">0</span>
                    <span class="num-key">.</span>
                    <span class="num-key eval">=</span>
                </div>
                <div class="operator" layout="column">
                  <span class="operator">+</span>
                  <span class="operator">-</span>
                  <span class="operator">÷</span>
                  <span class="operator">x</span>
                </div>
              </div>
            </div>

            <md-button ng-click="closeWidgets()" class="md-primary">
              Cerrar
            </md-button>
          </md-content>
        </md-sidenav>
    </div>

    <div class="login-container" layout="row" layout-align="center center" ng-if="!isAuthenticated()">
      <div ui-view="login"></div>
    </div>
      <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
      <script>
         (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
         m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

         ga('create', 'UA-XXXXX-X');
         ga('send', 'pageview');
      </script>

        <!-- build:js(.) scripts/oldieshim.js -->
        <!--[if lt IE 9]>
        <script src="bower_components/es5-shim/es5-shim.js"></script>
        <script src="bower_components/json3/lib/json3.js"></script>
        <![endif]-->
        <!-- endbuild -->

        <!-- build:js(.) scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-aria/angular-aria.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-messages/angular-messages.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-touch/angular-touch.js"></script>
        <script src="bower_components/angular-material/angular-material.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="bower_components/Chart.js/Chart.js"></script>
        <script src="bower_components/chartjs/Chart.js"></script>
        <script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
        <script src="bower_components/lodash/lodash.js"></script>
        <script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
        <script src="bower_components/angular-jwt/dist/angular-jwt.js"></script>
        <script src="bower_components/satellizer/satellizer.js"></script>
        <script src="bower_components/angular-material-icons/angular-material-icons.min.js"></script>
        <script src="bower_components/sweetalert/lib/sweet-alert.js"></script>
        <script src="bower_components/angular-sweetalert/SweetAlert.js"></script>
        <script src="bower_components/moment/moment.js"></script>
        <script src="bower_components/angular-moment/angular-moment.js"></script>
        <script src="bower_components/angularjs-datepicker/dist/angular-datepicker.min.js"></script>
        <script src="bower_components/restangular/dist/restangular.js"></script>
        <script src="bower_components/angular-ellipsis/src/angular-ellipsis.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script type="text/javascript" src="https://conektaapi.s3.amazonaws.com/v0.3.2/js/conekta.js"></script>
        <script type="text/javascript">Conekta.setPublishableKey('key_FfYRG4sG9AqcoMGkPsX7Mzw');</script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/SVG-Morpheus/0.1.8/svg-morpheus.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
          <script src="scripts/controllers/dashboardController/genderWidgetController.js"></script>
          <script src="scripts/controllers/dashboardController/ageWidgetController.js"></script>
          <script src="scripts/controllers/dashboardController/couponStatusWidgetController.js"></script>
          <script src="scripts/controllers/dashboardController/lastCouponListWidgetController.js"></script>
          <script src="scripts/controllers/dashboardController/locationWidgetController.js"></script>
        <script src="scripts/controllers/coupon.js"></script>
          <script src="scripts/controllers/couponController/couponListController.js"></script>
          <script src="scripts/controllers/couponController/couponMainController.js"></script>
        <script src="scripts/controllers/report.js"></script>
          <script src="scripts/controllers/reportController/basicReportController.js"></script>
          <script src="scripts/controllers/reportController/middleReportController.js"></script>
          <script src="scripts/controllers/reportController/advanceReportController.js"></script>
        <script src="scripts/controllers/modalController/pricingModalController.js"></script>
        <script src="scripts/controllers/paymentController/paymentController.js"></script>
        <script src="scripts/models/couponFactory.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/vendor/calculator.js"></script>
        <script src="scripts/vendor/demo.js"></script>
        <script src="scripts/vendor/angular-locale_es-mx.js"></script>

         
        <!-- endbuild -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script> -->

</body>
</html>
