<!doctype html>
<html lang="en"><head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="images/favicon.png">

  <title>DOP</title>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700,800" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Raleway:300,200,100" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
  <link rel="stylesheet" href="styles/login.css">

  <!-- Bootstrap core CSS -->
  <!-- build:css(.) styles/vendor.css -->
  <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  <!-- endbuild -->

  <!-- Template CSS -->
  <!-- build:css(.tmp) styles/main.css -->
  <link href="styles/general.css" rel="stylesheet"> 
  <!-- endbuild -->
</head>
<body ng-app="dopApp"  ng-controller="LoginCtrl">
  <div class="login-container" layout-fill layout="row" layout-align="center center">
    <md-card class="background-white login-card"   flex-order="1">
      <div class="login-top">
        <img src="images/mini_logo.png"/>
      </div>
      <form name="userForm" class="login-form">
        <div layout layout-sm="column">
          <md-input-container flex>
            <label>Usuario</label>
            <input ng-model="user.firstName" >
          </md-input-container>
        </div>
        <div layout layout-sm="column">
          <md-input-container flex>
            <label>Contraseña</label>
            <input type="password" ng-model="password">
          </md-input-container>
        </div>
        <md-button class="md-primary login-button">Iniciar Sesión</md-button>

      </form>
    </md-card>
  </div>
</body>