
<div ng-controller="LoginCtrl">
  <div class="login-container" layout-fill layout="row" layout-align="center center">
    <md-card class="background-white login-card"   flex-order="1">
      <div class="login-top">
        <img src="images/mini_logo.png"/>
      </div>
      <form name="userForm" class="login-form" method="post" ng-submit="login()">
        <div layout layout-sm="column">
          <md-input-container flex>
            <label>Usuario</label>
            <input ng-model="user" >
          </md-input-container>
        </div>
        <div layout layout-sm="column">
          <md-input-container flex>
            <label>Contraseña</label>
            <input type="password" ng-model="password">
          </md-input-container>
        </div>
          <button type="submit" class="md-primary login-button">Iniciar Sesión</button>
          <!-- <button ng-click="authenticate('facebook')">Sign in with Facebook</button> -->
      </form>
    </md-card>
  </div>
</div>