
<div ng-controller="LoginCtrl" md-theme="green">
  <div class="login-container" layout-fill layout="row" layout-align="center center">
    <md-card class="background-white login-card"   flex-order="1">
      <div class="login-top" layout="row" layout-align="center center">
        <img src="images/dop_logo_w.png" class="image-shadow">
      </div>
      <form name="userForm" class="login-form" method="post" ng-submit="login()">
        <div layout layout-sm="column">
          <md-input-container flex>
            <label>Usuario</label>
            <input name="user" ng-model="user" required>
            <div ng-messages="userForm.user.$error">
              <!-- <div ng-message="required">Email es requerido.</div> -->
            </div>
          </md-input-container>
        </div>
        <div layout layout-sm="column">
          <md-input-container flex>
            <label>Contraseña</label>
            <input type="password" name="password" ng-model="password" required>
            <div ng-messages="userForm.password.$error">
              <!-- <div ng-message="required">Email es requerido.</div> -->
            </div>
          </md-input-container>
        </div>
        <md-button type="submit" class="login-button md-raised md-accent md-green md-button"><span class="md-green md-accent">Iniciar Sesión</span></md-button>
      </form>
      <!-- <button ng-click="authenticate('facebook')">Sign in with Facebook</button> -->
    </md-card>
  </div>
</div>
