<!-- <div layout-align="center center" ng-controller="">
    <h2>Gráfica por Edad</h2>
    <div class="chart-container padding-xl">

    </div>
</div> -->

<div class="card animated fadeInUp">
    <div class="card-header">
        <h2>Usos por edad</h2>

        <ul class="actions">
            <li class="action-show">
                <a ng-click="getByAge()" aria-expanded="false">
                    <ng-md-icon icon="refresh" style="fill: #444"></ng-md-icon>
                </a>
            </li>
        </ul>
    </div>

    <div class="card-body card-padding" style="position: relative">
        <div class="padding-xl">
          <canvas ng-class="{ hidden: empty }" id="ageChart" width="600" height="340" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-colours="colours"></canvas>
          <p ng-if="empty" class="empty-view"> DATOS INSUFICIENTES </p>
          <md-progress-circular ng-show="loading" class="chart md-accent" md-mode="indeterminate"></md-progress-circular>
        </div>
    </div>

</div>
