<div class="card animated fadeInUp" ng-if="pro && !loading">
    <div class="card-header" style="padding-bottom: 10px !important;">
        <h2>Usos por edad</h2>

        <ul class="actions">
            <li class="action-show">
                <a ng-click="getByAge()" aria-expanded="false">
                    <ng-md-icon icon="refresh" style="fill: #444"></ng-md-icon>
                </a>
            </li>
        </ul>
    </div>

    <div class="card-body card-padding" style="position: relative" layout="row" layout-align="center center">
        <div class="padding-xs" flex=75 style="padding-top: 0px !important;">
          <canvas ng-class="{ hidden: empty }" id="ageChart" width="600" height="245" 
            class="chart chart-bar" chart-data="data" chart-labels="labels" chart-colors="colors"></canvas>
            
          <p ng-if="empty" class="empty-view"> DATOS INSUFICIENTES </p>
          <md-progress-circular ng-show="loading" class="chart md-accent" md-mode="indeterminate"></md-progress-circular>
        </div>
    </div>

</div>


<md-card class="empty-view-height" ng-if="!pro && !loading" layout-align="center center" layout="row" layout-wrap flex>
  <h3 class="center" flex="100"> ESTA FUNCIONALIDAD ES PARA USUARIOS PRO </h3>
  <div ng-if="!pro && !loading" flex="100" layout-align="center center" layout="row">
    <md-button ng-click="showProModal()" class="pro-button new-gradient-dop md-accent md-raised" flex="60" ng-if="payment_method">
      Suscribeme
    </md-button>

    <md-button ng-click="showProModal()" class="pro-button new-gradient-dop md-accent md-raised" flex="60" ng-if="!payment_method">
      AGREGAR método de pago y suscribeme
    </md-button>
  </div>
</md-card>