
<div ng-controller="CouponWidgetCtrl" class="tabsdemoStaticTabs sample">
    <md-tabs class="md-default-theme" md-selected="data.selectedIndex">
      <md-tab id="tab1">
          <md-tab-label>TOTAL</md-tab-label>
          <md-tab-template class="total">
            <div>
              <h1>1</h1>
              <h3>Usados</h3>
            </div>
            <div>
              <h1>1</h1>
              <h3>No Usados</h3>
            </div>
            <div>
              <h1>1</h1>
              <h3>Libres</h3>
            </div>
            <div>
              <h1>1</h1>
              <h3>Creados</h3>
            </div>
          </md-tab-template>
      </md-tab>
      <md-tab id="tab2">
          <md-tab-label>VIGENTE</md-tab-label>
          <md-tab-template>
            <div>
              <h1>1</h1>
              <h3>Usados</h3>
            </div>
            <div>
              <h1>1</h1>
              <h3>No Usados</h3>
            </div>
            <div>
              <h1>1</h1>
              <h3>Libres</h3>
            </div>
            <div>
              <h1>1</h1>
              <h3>Creados</h3>
            </div>
          </md-tab-template>
      </md-tab>
      <md-tab id="tab3">
          <md-tab-label>HISTORIAL</md-tab-label>
          <md-tab-template>
            <div>
              <h1>1</h1>
              <h3>Usados</h3>
            </div>
            <div>
              <h1>1</h1>
              <h3>No Usados</h3>
            </div>
            <div>
              <h1>1</h1>
              <h3>Libres</h3>
            </div>
            <div>
              <h1>1</h1>
              <h3>Creados</h3>
            </div>
          </md-tab-template>
      </md-tab>
    </md-tabs>
</div>