<div class="card">
    <div class="card-header">
        <h2>Gráfica por genero</h2>

        <ul class="actions">
            <li class="dropdown action-show">
                <a href="" data-toggle="dropdown" aria-expanded="false">
                    <ng-md-icon icon="more_vert">
                </a>

                <div class="dropdown-menu pull-right">
                    <p class="p-20">
                        You can put anything here
                    </p>
                </div>
            </li>
        </ul>
    </div>

    <div class="card-body card-padding">
        <div class="padding-xl">
          <canvas id="genderChart" width="600" height="340" class="chart chart-doughnut" chart-data="data" chart-labels="labels" chart-colours="colours"></canvas>
        </div>
    </div>
</div>
