    <div layout-fill layout="row" layout-wrap style="margin: 0 auto;">
        <md-card class="loading" flex ng-show="loading" layout-align="center center">
          <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
        </md-card>
      <div ng-repeat="item in coupons" layout="row" layout-fill layout-wrap layout-align="center center">
      	<md-card  class="background-white coupon-card animated fadeInUp" ng-repeat="promo in item" ng-click="select(promo)" ng-class="{'background-lightgray': !promo.active}" flex-xs="100" flex-sm="100" flex layout="column" layout-align="center center">
                  <div  class="info" layout="row" layout-align="center center" flex>
                    <div ng-if="promo.name" class="status">
                      <!-- ACTIVE -->
                      <i ng-if="promo.active && !promo.completed" class="fa fa-circle success-font"></i>
                      <!-- INACTIVE -->
                      <!--<i ng-if="!promo.active && !promo.completed && promo.coupon_category_id==1" class="fa fa-circle disabled-font">-->
                      <i ng-if="!promo.active && !promo.completed && promo.coupon_category_id!=1" class="fa fa-circle warning-font"></i>
                      <!-- COMPLETED-->
                      <i ng-if="promo.completed" class="fa fa-circle accent-font"></i>
                    </div>
                    <div layout="column" layout-align="center center">
                      <h2 class="margin-sm">{{promo.name}}</h2>
                      <h1 ng-if="!promo.name" class="new-promo-placeholder">Nueva Promoción</h1>
                      <span>
                        <p style="display:-webkit-box" ng-if="promo.description" class="coupon-description" data-ng-bind="promo.description"></p>
                        <p style="display:-webkit-box" ng-if="!promo.name" class="coupon-description"> Click para configurar </p>
                      </span>
                    </div>
                  </div>
                  <div ng-if="promo.name && promo.active && !promo.completed"  class="statistics" flex>
                      <ul layout="row" layout-wrap>
                        <li flex>
                          <i class="fa fa-bullseye"></i>
                          <h3>{{promo.views || 0}}</h3>
                          <p class="">Aperturas</p>
                        </li>
                        <li flex>
                          <i class="fa fa-heart"></i>
                          <h3>{{promo.total_likes}}</h3>
                          <p class="">Me gusta</p>
                        </li>
                        <li flex>
                          <i class="fa fa-ticket "></i>
                          <h3>{{promo.total_uses}}</h3>
                          <p class="">Usos</p>
                        </li>
                      </ul>
                  </div>
                  <div ng-click="activateCoupon(promo.coupon_id)" class="active-button" ng-if="!promo.active && promo.name && !promo.completed">
                    ACTIVAR
                  </div>
                  <md-button class="md-raised active-button" ng-if="promo.completed">
                    COMPRAR DE NUEVO
                  </md-button>
        </md-card>

      </div>
      <!-- <table id="report-table" class="table table-striped" ng-click="exportAction()">
        <tr>
          <td><strong>Dia</strong></td>
          <td><strong>Usos</strong></td>
        </tr>
        <tr ng-repeat="row in report_rows">
          <td>{{row.day | date:'MM/dd/yyyy'}}</td>
          <td>{{ row.count }}</td>
        </tr>
      </table> -->
    </div>
