
    <div layout-fill layout="row" layout-wrap style="margin: 0 auto;">
        <md-card class="loading" flex ng-show="loading" layout-align="center center">
          <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
        </md-card>
      <div ng-repeat="item in coupons" layout="row" layout-fill layout-wrap layout-align="center center">
      	<md-card ng-click="select(item)" class="background-white coupon-card animated fadeInLeft" ng-repeat="promo in item" flex-xs="100" flex-sm="100" flex>
                  <div class="info">
                    <h2 class="margin-sm">{{promo.name}}</h2>
                    <h1 ng-if="!promo.name" class="new-promo-placeholder">Nueva Promoción</h1>
                    </span><p ng-if="promo.description" class="coupon-description" data-ng-bind="promo.description"></p>
                  </div>
                  <div class="statistics">
                      <ul layout="row" layout-wrap>
                        <li flex>
                          <i class="fa fa-bullseye" ></i>
                          <h3>{{promo.views}}</h3>
                          <p class="transparent-text">Aperturas</p>
                        </li>
                        <li flex>
                          <i class="fa fa-heart"></i>
                          <h3>{{promo.total_likes}}</h3>
                          <p class="transparent-text">Me gusta</p>
                        </li>
                        <li flex>
                          <i class="fa fa-ticket "></i>
                          <h3>{{promo.total_uses}}</h3>
                          <p class="transparent-text">Usos</p>
                        </li>
                      </ul>
                  </div>
        </md-card>

      </div>
      <table id="report-table" class="table table-striped" ng-click="exportAction()">
        <tr>
          <td><strong>Dia</strong></td>
          <td><strong>Usos</strong></td>
        </tr>
        <tr ng-repeat="row in report_rows">
          <td>{{row.day | date:'MM/dd/yyyy'}}</td>
          <td>{{ row.count }}</td>
        </tr>
      </table>
    </div>
