
    <div layout-fill layout="row" layout-wrap style="margin: 0 auto;">
        <md-card class="loading" flex ng-show="loading" layout-align="center center">
          <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
        </md-card>
      <div ng-repeat="item in coupons" flex flex-sm="45" flex-md="20">
      	<md-card ng-click="select(item)" class="background-white coupon-card animated fadeInLeft" ng-repeat="promo in item">
                  <h2 class="margin-sm">{{promo.name}}</h2>
                  <h1 ng-if="!promo.name" class="new-promo-placeholder">Nueva Promoción</h1>
                  </span><p ng-if="promo.description" class="coupon-description" data-ng-bind="promo.description" data-ellipsis></p>
          </md-card>
      </div>
    </div>
