<div class="card animated fadeInUp" ng-if="pro && !loading">
    <div class="card-header">
        <h2>Ubicación</h2>

        <ul class="actions">
            <li class="action-show">
                <a ng-click="getLocations()" aria-expanded="false">
                    <ng-md-icon icon="refresh" style="fill: #444"></ng-md-icon>
                </a>
            </li>
        </ul>
    </div>

    <div class="card-body card-padding">
        <div class="padding-xl">
          <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options">

            <ui-gmap-marker id="branch_marker" idkey="marker.id" coords="marker.coords"  icon="marker.icon">
            </ui-gmap-marker>
            <ui-gmap-markers ng-show="mapLoaded" models="markers" coords="'self'" icon="'icon'"  options="'options'" fit="true">
                <ui-gmap-window coords="map.center" show="windowOptions.show" closeclick="closeClick()" >
                    <div ng-non-bindable>{{name}} <br> {{view_date | date:"MM/dd/yyyy 'at' h:mma"}}</div>
                </ui-gmap-window>
            </ui-gmap-markers>
          </ui-gmap-google-map>
        </div>
        <md-progress-circular ng-show="loading" class="location md-accent" md-mode="indeterminate"></md-progress-circular>
    </div>
</div>

<md-card class="empty-view-height" ng-if="!pro && !loading" layout-align="center center" layout="row" layout-wrap flex>
  <h3 class="center" flex="100"> ESTA FUNCIONALIDAD ES PARA USUARIOS PRO </h3>
  <div ng-if="!pro && !loading" flex="100" layout-align="center center" layout="row">
    <md-button ng-click="showProModal()" class="pro-button new-gradient-dop md-accent md-raised" flex="50" ng-if="payment_method">
      Suscribeme
    </md-button>

    <md-button ng-click="showProModal()" class="pro-button new-gradient-dop md-accent md-raised" flex="50" ng-if="!payment_method">
      AGREGAR método de pago y suscribeme
    </md-button>
  </div>
</md-card>