<div class="animated fadeInUp" layout="row" layout-sm="column" layout-xs="column" layout-fill>
    <md-card class="stat-card blue-gradient" flex>
        <h1 class="no-margin-bottom"> {{stats.views || 0}} </h1>
        <h4 class="no-margin-top"> Vistas de Campañas </h4>
    </md-card>

    <md-card class="stat-card new-gradient-dop" flex>
        <h1 class="no-margin-bottom"> {{stats.likes || 0}} </h1>
        <h4 class="no-margin-top"> Likes </h4>
    </md-card>

    <md-card class="stat-card purple-gradient" flex>
        <h1 class="no-margin-bottom"> {{stats.profile_views || 0}} </h1>
        <h4 class="no-margin-top"> Visitas perfil </h4>
    </md-card>

    <md-card class="stat-card green-gradient" flex>
        <h1 class="no-margin-bottom"> {{stats.uses || 0}} </h1>
        <h4 class="no-margin-top"> Canjes </h4>
    </md-card>

    <md-card class="stat-card dark-pink-gradient" flex>
        <h1 class="no-margin-bottom"> {{stats.likes || 0}} </h1>
        <h4 class="no-margin-top"> Campañas </h4>
    </md-card>
</div>