<md-dialog ng-controller="AddCreditModalCtrl" md-theme="green" flex="80" aria-label="Compra coupones">
  <md-dialog-content class="sticky-container" style="background-color: #f2f2f2">
    <md-subheader class="subtitle">CRÉDITOS</md-subheader>
    <div layout="row" class="no-padding-bottom padding-top-md">
      <!-- first credit package -->
      <md-button class="md-raised ripplelink" flex="33" ng-click="doPayment(50)">
        <span class="dark-font" layout-align="center center">$ 100</span>

      </md-button>

      <!-- second credit package -->
      <md-button class="md-raised ripplelink" flex="33" ng-click="doPayment(200)">
        <span class="dark-font" layout-align="center center">$ 300</span>
      </md-button>

      <!-- third credit package -->
      <md-button class="md-raised ripplelink" flex="33" ng-click="doPayment(300)">
        <span class="dark-font" layout-align="center center">$ 500</span>
      </md-button>
    </div>

    <div layout="row">
      <!-- fourth credit package -->
      <md-button class="md-raised ripplelink md-green-theme" flex="33" ng-click="doPayment(500)">
        <span class="dark-font" layout-align="center center">$ 1000</span><br>
                                                               <span class="success-font subtitle">+ 100 </span>
      </md-button>

      <!-- fifth credit package -->
      <md-button class="md-raised ripplelink" flex="33" ng-click="doPayment(1000)">
        <span class="dark-font" layout-align="center center">$ 2000</span><br>
                                                               <span class="success-font subtitle">+ 500 </span>
     </md-button>

      <!-- sixth credit package -->
      <md-button class="md-raised ripplelink" flex="33" ng-click="doPayment(2000)">
        <span class="dark-font" layout-align="center center">$ 5000 </span><br>
                                                            <span class="success-font subtitle">+ 2000 </span>
     </md-button>
    </div>

    <div layout="row" flex>
      <!-- custom credit package -->
      <div flex="50" layout="row" layout-align="start end">
        <md-card layout="row" layout-align="start end" class="padding-md" style="height: 4.5em;" flex>
          <label class="" flex="33">
            <span class="font" layout-align="center center">OTRA CANTIDAD</span>
          </label>
          <md-input-container class="no-margin" layout="row" flex="66">
            <label>Creditos</label>
            <input name="Créditos" type="number" ng-model="credits" required>
            <div ng-messages="credits.$error" ng-show="credits.$dirty">
              <div ng-message="required">Ingrese cantidad</div>
            </div>
          </md-input-container>
        </md-card>
      </div>
    </div>

  </md-dialog-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="hide()" class="md-button">
      Cancelar
    </md-button>
    <md-button ng-click="doPayment()" class="md-primary md-accent">
      Siguiente
    </md-button>
  </div>
</md-dialog>
