<md-dialog ng-controller="CreditsModalCtrl" md-theme="green" flex="80" aria-label="Compra coupones">
  <md-dialog-content class="sticky-container" style="background-color: #f2f2f2">
    <md-subheader class="">MÉTODO DE PAGO</md-subheader>
    <div layout="row" class="no-padding-bottom padding-top-md">

      <!-- first credit package -->
      <md-card layout="column" class="md-raised" flex="50" ng-click="doCreditsPayment()">
        <div class="margin-top-xl md-card-image" layout="row" layout-align="center center" flex="100">
          <img ng-src="../../images/dop_logo_w.png" class=" image-shadow" alt="Créditos" flex="25">
        </div>
        <md-card-title>
          <md-card-title-text>
            <span class="dark-font text-center" layout-align="center center">CRÉDITOS</span>
          </md-card-title-text>
        </md-card-title>
      </md-card>

      <!-- second credit package -->
      <md-card layout="column" class="md-raised" flex="50" ng-click="doPayment()">
        <div class="margin-top-xl md-card-image" layout="row" layout-align="center center" flex="100">
          <img ng-src="../../images/credit_cards.png" class="" alt="Tarjeta" flex="70">
        </div>
        <md-card-title>
          <md-card-title-text layout="row" layout-align="center center" flex="100">
            <span class="dark-font text-center" layout-align="center center" flex>TARJETA</span>
          </md-card-title-text>
        </md-card-title>
      </md-card>
    </div>

  </md-dialog-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="hide()" class="md-button">
      Cancelar
    </md-button>
    <md-button ng-click="doPayment()" class="md-primary md-accent">
      Siguiente
    </md-button>
  </div>
</md-dialog>
