<md-dialog ng-controller="PricingModalCtrl" md-theme="green" flex="80" aria-label="Compra coupones">
  <md-dialog-content class="sticky-container">
    <md-subheader class="">Herramienta para compra de cupones</md-subheader>
    <div layout="row" layout-margin>
      <span flex="10">Cantidad</span>
      <md-slider flex aria-label="Cantidad de cupones" ng-model="amountOfCoupon" min="50" max="500" step="25" id="day-slider"></md-slider>
      <div flex="20" layout layout-align="center center">
        <h5 class="pricing-quantities" aria-controls="day-slider">{{amountOfCoupon}}</h5>
      </div>
    </div>
    <md-divider></md-divider>
    <div layout="row" layout-margin>
      <span flex="10">Expiracíon</span>
      <md-slider flex aria-label="Caducidad de cupones" ng-model="expireTime" min="1" max="30"></md-slider>
      <div flex="20" layout layout-align="center center">
        <h5 class="pricing-quantities" aria-controls="expire-slider">{{expireTime}} días</h5>
      </div>
    </div>
    <md-divider></md-divider>
    <div layout="row" layout-margin>
      <span flex></span>
      <h5 flex="30" class="pricing-quantities" ng-model="total" layout-align="center center">Total: {{(amountOfCoupon * 0.9) + (expireTime * 50) | currency:"$":2}}</h5>
    </div>

  </md-dialog-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="hide()" class="md-button">
      Cancelar
    </md-button>
    <md-button ng-click="selectPaymentMethod('card')" class="md-primary md-accent">
      Siguiente
    </md-button>
  </div>
</md-dialog>
