
<md-dialog class="pro-dialog" ng-controller="RedeemModalCtrl" md-theme="" flex="75" aria-label="Valida" ng-init="init()">
  <canvas id="world"></canvas>
  
  <md-dialog-content class="sticky-container" style="background-color: #f2f2f2">
    <md-subheader class="">
      <h3 style="display: inline-flex"><ng-md-icon icon="loyalty" size="26" style="fill: #333;"></ng-md-icon> Valida la visita</h3>
    </md-subheader>
    <div layout="column" class="no-padding-bottom padding-top-md">
      <h4>Verifíca que el usuario cumpla los requisitos de lealtad y valida su visita.</h4>
      <md-card class="loading" flex ng-show="loading" layout-align="center center">
        <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
      </md-card>
      <md-card class="loading" flex ng-show="reloadButtonFlag" layout-align="center center">
        <md-button ng-click="init()" class="md-accent md-raised super-z-index">
          Recargar
        </md-button>
      </md-card>
      <md-card ng-repeat="user in users" layout="row" layout-align="center center">
        <img ng-src="{{user.user_image}}" class="validate-logo">
        <h4 flex>{{user.user_name}}</h4>
        <h4 flex>Lealtad: {{user.loyalty_name || 'Tu sistema de lealtad'}}</h4>
        <h4 flex ng-if="user.visit < user.goal">visitas: {{user.visit}}</h4>
        <h4 flex ng-if="user.visit < user.goal">Meta: {{user.goal}}</h4>
        <h4 flex ng-if="user.visit == user.goal">Canjeando Recompensa</h4>
        <div flex="30" layout="row" layout-align="center center">
          <md-button ng-click="validate(user)" class="md-accent md-raised super-z-index">
            VALIDAR
          </md-button>
        </div>
      </md-card>
    </div>
  </md-dialog-content>
  
  <div class="md-actions">
    <md-button ng-click="hide()" class="super-z-index">
      LISTO
    </md-button>
  </div>
</md-dialog>
