
<div layout="row" flex="70" layout-wrap layout-align="center start">
  <md-toolbar class="image-toolbar toolbar-title">
    <div class="md-toolbar-tools">
      <h1 class="ng-binding">Logo & Banner</h1>
      <span flex="" class="flex"></span>
    </div>
  </md-toolbar>

  <div layout-fill layout="row" layout-align="center start">
  <!-- Logo Card -->
    <div class="" flex-order="1">
        <div ui-view="logoView"></div>
    </div>
  <!-- Banner Card -->
    <div class="" flex-order="2">
        <div ui-view="bannerView"></div>
    </div>
  </div>

  <md-toolbar class="image-toolbar toolbar-title margin-top-xl">
    <div class="md-toolbar-tools">
      <h1 class="ng-binding">Dirección</h1>
      <span flex="" class="flex"></span>
    </div>
  </md-toolbar>

  <!-- Reverse Locator -->
  <div layout-fill layout="row" layout-align="center start">
    <div class="">
        <div ui-view="locatorView"></div>
    </div>
  </div>
</div>
