<div layout="row" layout-fill layout-wrap layout-align="center start">

  <md-card class="drag-drop" layout="column" style="width: 250px; height: 250px;">
    <!-- <div><input type="file"  /></div> -->
    <droplet-upload-single ng-model="interface" id="logoInput" style="height: 100%;width: 100%; opacity: 0; cursor: pointer;"></droplet-upload-single>
    <ng-md-icon icon="file_upload" size="48" class="drag-drop-icon"></ng-md-icon>
    <!-- <span class="dark-font">Logo</span> -->
  </md-card>

  <md-card class="drag-drop" layout="column" flex="70">
    <!-- <div><input type="file"  /></div> -->
    <droplet-upload-single ng-model="interface"  id="bannerInput" style="height: 100%;width: 100%; opacity: 0; cursor: pointer;" flex="100"></droplet-upload-single>
    <ng-md-icon icon="file_upload" size="48" class="drag-drop-icon"></ng-md-icon>
    <!-- <span class="dark-font">BANNER</span> -->
  </md-card>
</div>
