<div class="center padding-top-md" flex="90" flex-xs="100">
    <div class="center">
        <div ui-view="lastCoupons" layout-fill layout="row" layout-wrap>

        </div>
        <div ui-view="statsView" layout-fill layout="row" layout-wrap>

        </div>
        <div layout-fill layout="row">
            <div class="padding-md" flex flex-xs="100" flex-order="1">
                <div ui-view="genderChart"></div>
            </div>

            <div class="padding-md" flex flex-xs="100" flex-order="2">
                <div ui-view="ageChart"></div>
            </div>
        </div>
        <div layout-fill layout="row" layout-wrap>
            <!--<div class="padding-md tabsdemoStaticTabs" flex flex-sm="100" flex-order="3">
                <div ui-view="couponStatusChart"></div>
            </div>-->
            <div class="padding-md" flex flex-xs="100" flex-order="3">
                <div ui-view="locationChart"></div>
            </div>
        </div>
        <ng-pdf template-url="views/pdftest.html"></ng-pdf>
    </div>
</div>
