<md-card >
	<!--<md-toolbar class="md-table-toolbar md-default" ng-hide="showSearch">
		<div class="md-toolbar-tools">
			<h2>Campañas</h2>
			<div flex="" class="flex"></div>
			<md-button class="md-icon-button" ng-click="showSearch = ! showSearch">
				<ng-md-icon icon="search" size="24"></ng-md-icon>
			</md-button>
		</div>
	</md-toolbar>-->
	<md-toolbar class="md-table-toolbar md-default">
	  <div class="md-toolbar-tools">
			<ng-md-icon icon="search" size="24"></ng-md-icon>
	    <form name="filter.form">
	      <input type="text"  placeholder="Buscar" class="ng-pristine ng-valid ng-touched" aria-invalid="false" ng-model="searchCoupon.name">
	    </form>
	  </div>
	</md-toolbar>
	<md-table-container>
	  <table id="table" md-table md-row-select multiple ng-model="selected" md-progress="promise">
	    <thead md-head md-order="name" md-on-reorder="getCoupons">
	      <tr md-row>
	        <th md-column md-order-by="name"><span>Campaña</span></th>
	        <th md-column md-order-by="start_date">Fecha</th>
	        <th md-column md-order-by="active">Estado</th>
	      </tr>
	    </thead>
	    <tbody md-body>
	      <tr  ng-disabled="!item.active" md-row md-select="item" md-select-id="item.coupon_id" ng-repeat="item in coupons.data | orderBy: name | filter:searchCoupon" ng-click="!item.active || showAdvanced($event)">
	        <td md-cell><p>{{item.name}}</p></td>

					<td md-cell ng-if="item.active && !item.completed">{{item.start_date | date:'dd MMM yyyy'}}</td>
					<td md-cell ng-if="item.active && item.completed">{{item.start_date | date:'dd MMM yyyy'}}</td>
	        <td md-cell ng-if="!item.active"></td>

					<!-- ACTIVE -->
	        <td md-cell ng-if="item.active && !item.completed"><i class="fa fa-circle success-font"></i>ACTIVA</td>
					<!-- INACTIVE -->
					<td md-cell ng-if="!item.active && !item.completed && item.coupon_category_id==1"><i class="fa fa-circle disabled-font"></i>SIN CONFIGURAR</td>
					<td md-cell ng-if="!item.active && !item.completed && item.coupon_category_id!=1"><i class="fa fa-circle warning-font"></i>INACTIVA</td>
					<!-- COMPLETED-->
					<td md-cell ng-if="item.completed"><i class="fa fa-circle accent-font"></i>FINALIZADA</td>
	      </tr>
	    </tbody>
	  </table>
	</md-table-container>
	<md-button class="md-rised"ng-click="getPDF()">pdf</md-button>
	<!--<md-table-pagination md-label="{page: 'Página:', rowsPerPage: 'Resultados por página:', of: 'de'}" md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{coupons.data.length}}" md-on-paginate="getCoupons" md-page-select></md-table-pagination>-->
</md-card>
<!--<div class="coupon-container">
	<div>
 		<div ui-view="coupon-list-view" layout-fill layout="row" layout-wrap>
      <div layout-fill layout="row" layout-wrap style="margin: 0 auto;">
              <div class="loading" flex ng-show="loading" layout-align="start center">
                	<md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
              </div>
           	<div ng-repeat="item in coupons" layout="row" layout-fill layout-wrap layout-align="center center">
      		      	<md-card class="background-white coupon-card animated fadeInLeft" ng-repeat="promo in item" flex-xs="100" flex-sm="100" flex="30" ng-click="showConfigModal(promo)">
      					<div class="info">
      						<h2 class="margin-sm">{{promo.name}}</h2>
      						<h1 ng-if="!promo.name" class="new-promo-placeholder">Nueva Promoción</h1>
      						</span><p ng-if="promo.description" class="coupon-description" data-ng-bind="promo.description"></p>
      					</div>
      					<div class="statistics">
      						<ul layout="row">
      							<li flex>
      								<i class="fa fa-bullseye" ></i>
      								<h3>{{promo.views}}0</h3>
      								<p class="transparent-text">Aperturas</p>
      							</li>
      							<li flex>
      								<i class="fa fa-heart"></i>
      								<h3>{{promo.total_likes}}0</h3>
      								<p class="transparent-text">Me gusta</p>
      							</li>
      							<li flex>
      								<i class="fa fa-ticket "></i>
      								<h3>{{promo.total_uses}}0</h3>
      								<p class="transparent-text">Usos</p>
      							</li>
      						</ul>
      					</div>
      		        </md-card>
            	</div>
      </div>
	  </div>
  </div>
</div>-->
<!--<div>
    <div ui-view>
        <div ng-show="!isInView" class="report-height" layout="row" layout-align="center" layout-margin layout-wrap>
            <div flex flex-order="1" flex-sm="100">
                <md-toolbar class="md-theme-light">
                    <h1 class="md-toolbar-tools">
                      <span>Basic Report</span>
                    </h1>
                </md-toolbar>
                <md-content class="pointer">
                    <div ng-click="toggleRight('basic')">
                        <div layout="row" layout-align="center center" md-theme="default">
                            <ng-md-icon icon="assignment" size="256" style="fill: #03A9F4" class="padding-lg"></ng-md-icon>
                        </div>
                    </div>
                </md-content>
            </div>
            <div flex flex-order="2" flex-sm="100">
                <md-toolbar class="md-theme-light">
                    <h1 class="md-toolbar-tools">
                      <span>Middle Report</span>
                    </h1>
                </md-toolbar>
                <md-content class="pointer">
                    <div ng-click="toggleRight('middle')">
                        <div layout="row" layout-align="center center" md-theme="default">
                            <ng-md-icon icon="assessment" size="256" style="fill: #EF5350" class="padding-lg"></ng-md-icon>
                        </div>
                    </div>
                </md-content>
            </div>
            <div flex flex-order="3" flex-sm="100">
                <md-toolbar class="md-theme-light">
                    <h1 class="md-toolbar-tools">
                      <span>Advance Report</span>
                    </h1>
                </md-toolbar>
                <md-content class="pointer">
                    <div ng-click="toggleRight('advance')">
                        <div layout="row" layout-align="center center" md-theme="default">
                            <ng-md-icon icon="view_carousel" size="256" style="fill: #8BC34A" class="padding-lg"></ng-md-icon>
                        </div>
                    </div>
                </md-content>
            </div>
        </div>
    </div>
    <section>
        <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="reportData">
            <md-toolbar class="md-theme-default">
              <h1 class="md-toolbar-tools">Información Reporte</h1>
            </md-toolbar>
            <md-content class="report-height" md-theme="green" layout-padding>
                <form>
                    <md-input-container>
                      <label for="reportName">Nombre</label>
                      <input type="text" id="reportName"
                             ng-model="reportData.name" md-sidenav-focus>
                    </md-input-container>
                    <div layout="row" layout-wrap>
                      <md-input-container flex class="md-default-theme">
                        <label for="beginDate">Fecha de inicio</label>
                        <input type="date" ng-model="reportData.beginDate" class="ng-valid font-15 md-input ng-dirty ng-valid-date ng-touched" id="beginDate" tabindex="0" aria-invalid="false">
                      </md-input-container>
                      <md-input-container flex class="md-default-theme">
                        <label for="endDate">Fecha final</label>
                        <input type="date" ng-model="reportData.endDate" class="ng-valid font-15 md-input ng-dirty ng-valid-date ng-touched" id="endDate" tabindex="0" aria-invalid="false">
                      </md-input-container>
                    </div>
                    <div layout="column" class="checkbox-container margin-bottom-xxl" layout-wrap>
                      <md-checkbox flex ng-model="reportData.category.sales" aria-label="Ventas">
                          Ventas
                      </md-checkbox>
                      <md-checkbox flex ng-model="reportData.category.detailed" aria-label="Detalle">
                          Detalle
                      </md-checkbox>
                      <md-checkbox flex ng-model="reportData.category.profit" aria-label="Ganancia">
                          Ganancia
                      </md-checkbox>
                    </div>
                </form>
                <div layout="row" class="margin-lg margin-top-xl">
                    <md-button flex ng-click="createReport()" class="md-raised md-primary md-button md-default-theme white">
                      Crear Reporte
                    </md-button>
                </div>
            </md-content>
        </md-sidenav>
    </section>
</div>-->
