<div ng-controller="ReportCtrl">
    <div ui-view>
        <div ng-show="!isInView" class="report-height" layout="row" layout-align="center" layout-margin layout-wrap>
            <div flex flex-order="1" flex-sm="100">
                <md-toolbar class="md-theme-light">
                    <h1 class="md-toolbar-tools">
                      <span>Basic Report</span>
                    </h1>
                </md-toolbar>
                <md-content class="pointer">
                    <div ng-click="toggleRight('basic')">
                        <div layout="row" layout-align="center center" md-theme="default">
                            <ng-md-icon icon="assignment" size="256" style="fill: #03A9F4" class="padding-lg"></ng-md-icon>
                        </div>
                    </div>
                </md-content>
            </div>
            <div flex flex-order="2" flex-sm="100">
                <md-toolbar class="md-theme-light">
                    <h1 class="md-toolbar-tools">
                      <span>Middle Report</span>
                    </h1>
                </md-toolbar>
                <md-content class="pointer">
                    <div ng-click="toggleRight('middle')">
                        <div layout="row" layout-align="center center" md-theme="default">
                            <ng-md-icon icon="assessment" size="256" style="fill: #EF5350" class="padding-lg"></ng-md-icon>
                        </div>
                    </div>
                </md-content>
            </div>
            <div flex flex-order="3" flex-sm="100">
                <md-toolbar class="md-theme-light">
                    <h1 class="md-toolbar-tools">
                      <span>Advance Report</span>
                    </h1>
                </md-toolbar>
                <md-content class="pointer">
                    <div ng-click="toggleRight('advance')">
                        <div layout="row" layout-align="center center" md-theme="default">
                            <ng-md-icon icon="view_carousel" size="256" style="fill: #8BC34A" class="padding-lg"></ng-md-icon>
                        </div>
                    </div>
                </md-content>
            </div>
        </div>
    </div>
    <section>
        <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="reportData">
            <md-toolbar class="md-theme-default">
              <h1 class="md-toolbar-tools">Información Reporte</h1>
            </md-toolbar>
            <md-content class="report-height" md-theme="green" layout-padding>
                <form> 
                    <md-input-container>
                      <label for="reportName">Nombre</label>
                      <input type="text" id="reportName"
                             ng-model="reportData.name" md-sidenav-focus>
                    </md-input-container>
                    <div layout="row" layout-wrap>
                      <md-input-container flex class="md-default-theme">
                        <label for="beginDate">Fecha de inicio</label>
                        <input type="date" ng-model="reportData.beginDate" class="ng-valid font-15 md-input ng-dirty ng-valid-date ng-touched" id="beginDate" tabindex="0" aria-invalid="false">
                      </md-input-container>
                      <md-input-container flex class="md-default-theme">
                        <label for="endDate">Fecha final</label>
                        <input type="date" ng-model="reportData.endDate" class="ng-valid font-15 md-input ng-dirty ng-valid-date ng-touched" id="endDate" tabindex="0" aria-invalid="false">
                      </md-input-container>
                    </div>
                    <div layout="column" class="checkbox-container margin-bottom-xxl" layout-wrap>
                      <md-checkbox flex ng-model="reportData.category.sales" aria-label="Ventas">
                          Ventas
                      </md-checkbox>
                      <md-checkbox flex ng-model="reportData.category.detailed" aria-label="Detalle">
                          Detalle
                      </md-checkbox>
                      <md-checkbox flex ng-model="reportData.category.profit" aria-label="Ganancia">
                          Ganancia
                      </md-checkbox>
                    </div>
                </form>
                <div layout="row" class="margin-lg margin-top-xl">
                    <md-button flex ng-click="createReport()" class="md-raised md-primary md-button md-default-theme white">
                      Crear Reporte
                    </md-button>
                </div>
            </md-content>
        </md-sidenav>
    </section>
</div>