<div ng-controller="ReportCtrl" layout="row" layout-margin layout-wrap>
    <div flex flex-order="1" flex-sm="100">
        <md-toolbar class="md-theme-light">
          <h1 class="md-toolbar-tools">
            <span>Basic Report</span>
          </h1>
        </md-toolbar>
        <md-content class="pointer">
          <div ui-view="basicReport"></div>
        </md-content>
    </div>
    <div flex flex-order="2" flex-sm="100">
        <md-toolbar class="md-theme-light">
          <h1 class="md-toolbar-tools">
            <span>Middle Report</span>
          </h1>
        </md-toolbar>
        <md-content class="pointer">
          <div ui-view="middleReport"></div>
        </md-content>
    </div>
    <div flex flex-order="3" flex-sm="100">
        <md-toolbar class="md-theme-light">
          <h1 class="md-toolbar-tools">
            <span>Advance Report</span>
          </h1>
        </md-toolbar>
        <md-content class="pointer">
          <div ui-view="advanceReport"></div>
        </md-content>
    </div>
</div>